*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.navigation{

    display: block;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(earth_map.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}


nav{
    align-items: right;
    justify-content: space-between;
    padding: 25px 10px;
    display: flex;
    margin-bottom: 50px;
}

.logo{
    color: white;
    font-size: 28px;
    margin-top: 11px;
    font-family: 'a Astro Space', sans-serif;
}


nav ul{

    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'a Astro Space', sans-serif;
}

nav ul li{
    
    float: left;
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    line-height: 40px;  
    line-clamp: 20;
    text-align: justify;
    font-size: 20px;
  

}

nav ul li a{
    
   color: white;
   text-decoration: none;
   font-weight: bold;
   display: block;
   text-align: middle;
   width: 400px;
   font-family: 'a Astro Space', sans-serif;
  
}

nav ul li a:hover{

    color:aqua;
    transition: .3s;
}

nav ul li ul li{
    display: none;
}

nav ul li:hover ul li{
    display: block;
}

button {
    
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
}

button:hover{

    background-color: cyan;
    transition: .4s;
}

.img{

    margin: 25px;
    
}


/* products */

.products{

    background-color: #163F53;
   
}

.products a{

  
}

.flex img{

    width: 30%;
    height: 20%;
    border-radius: 30px;
    border: 5px solid darkblue;
    background-color: darkblue;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: space-evenly;

}

