*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.navigation{

    display: block;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(earth_map.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}


nav{
    align-items: right;
    justify-content: space-between;
    padding: 25px 10px;
    display: flex;
    margin-bottom: 50px;
}

.logo{
    color: white;
    font-size: 28px;
    margin-top: 11px;
    font-family: 'a Astro Space', sans-serif;
}


nav ul{

    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'a Astro Space', sans-serif;
}

nav ul li{
    
    float: left;
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    line-height: 40px;  
    line-clamp: 20;
    text-align: justify;
    font-size: 20px;
  

}

nav ul li a{
    
   color: white;
   text-decoration: none;
   font-weight: bold;
   display: block;
   text-align: middle;
   width: 400px;
   font-family: 'a Astro Space', sans-serif;
  
}

nav ul li a:hover{

    color:aqua;
    transition: .3s;
}

nav ul li ul li{
    display: none;
}

nav ul li:hover ul li{
    display: block;
}

button {
    
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
}

button:hover{

    background-color: cyan;
    transition: .4s;
}

.img{

    margin: 25px;
    
}






 /* About us */


 .about{
  background-color: #09232F;
  height: 130vh;
  width: 100%;
 }
 
.about {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
  }

.about .h1{

    font-size: 42px;
    align-self: center;
    text-shadow: 3px 3px cyan;
    color: white;
    display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  justify-content: flex-start;
	  align-items: center;
	  align-content: stretch;
    font-family: 'a Astro Space', sans-serif;
}
  
  .left {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .left img {
    max-width: 300px;
    max-height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    
  }
  
  .text-box {
    flex: 1;
  }
  
  .text-box h2 {
    color: cyan;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'a Astro Space', sans-serif;
 
  }
  
  .text-box p {
    max-width: 600px;
    max-height: 400px;
    color: cyan;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 30px;
    font-family: 'a Astro Space', sans-serif;

  }
  
.about .btn {
    
    align-self: center;
    padding: 10px 20px;
    font-size: 1em;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 150px;
    height: 100px;
    font-family: 'a Astro Space', sans-serif;
  }

.about .btn:hover{

    background-color: cyan;
    color: #163F53;
    transition: .4s;
}




@media (max-width: 768px) {
    .left {
        flex-direction: column;
        max-height: 100%;
    }

}







/* Products */

/* Slider */

.Products {
  background-color: #163F53;
  height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#kontenti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI light', Tahoma;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

#kontenti img {
  max-width: 700px;
  height: 400px;
  border-radius: 20px;
  border: 4px groove rgb(57, 141, 141);
  transition: opacity 0.8s ease; /* Smooth transition effect */
 
}

.btnProd{

  align-self: center;
  padding: 10px 20px;
  font-size: 1em;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-right: 25px;
  width: 150px;
  height: 50px;
  font-family: 'a Astro Space', sans-serif;
}

.btnProd:hover{

  background-color: cyan;
    color: #163F53;
    transition: .4s;
}







/* Footer */

footer {

    
    background-color:#09232F;
    color: cyan;
    padding: 20px;
    width: 100%;
    
  }
  
  .f {
    display: flex;
    justify-content: space-evenly;
    color: #16B0A8;
    padding-bottom: 25px;
  }
  
  .f h2 {
    margin: 0;
    padding-top: 10px;
    padding-left: 18px;
    align-items: center;

  }

  .f h2+h2 {
    margin: 0;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;

  }
  
  .social-media {
    display: flex;
    gap: 10px;
    
  }
  

  .footermain {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px; 
    color: rgb(2, 114, 137);
  }
  
  .footerleft {
    display: flex;
    width: 15%;
    flex-wrap: nowrap;
  }
  

  .footerright{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
    justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
    
  }

  .end {
    color: rgb(2, 114, 137)2);
    text-align: center;
    margin-top: 20px;
    padding-top: 35px; 
  }
  
